<div class="col-lg-3 ml-auto">
  <div class="mb-5">
    <div class="card text-white bg-secondary mb-3" style="width: 20rem;">
      <div class="card-header">
        Organised by :
        <h7 style="color: white;">
          <%= link_to @event.administrator_full_name, user_path(@event.administrator) %>
        </h7>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <% if @event.administrator.profile_picture.attached? %>
          <center>
            <div class="profile-userpic">
              <%= image_tag(@event.administrator.profile_picture, height: '190', width: '190', alt: "profile_picture" ) %>
            </div>
          </center>
          <% else %>
          <% end %>
        </h5>
      <%= render "components/informations_events" %>
    </div>
    <% if @event.is_still_ongoing? %>
      <% if user_signed_in? %>
        <% if @event.is_administrated_by?(current_user) %>
          <%= link_to "See event space", participations_path(id: @event.id), class: "btn btn-info" %>
        <% elsif @event.has_participant?(current_user)%>
          <center>
            You are part of this event !
          </center>
          <%= link_to "Cancel", participation_path(id: @event.id), method: :delete, class: "btn btn-danger" %>
        <% elsif @event.has_place_available? %>
          <%= link_to "Join in !", participations_path(id: @event.id), method: :post, class: "btn btn-info" %>
        <% end %>
      <% else %>
        <center>
          Wanna join this event ? <%= link_to "Sign up !", new_user_registration_path  %>
       </center>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
