<% @events.limit(6).each do |event| %>
  <div class="col-md-4 mb-3 mb-lg-4 col-lg-4">
    <div class="listing-item">

        <div class="listing-image">
          <% if event.picture.attached? %>
          <%= image_tag(event.picture, alt: 'Image', class: "img-fluid",  width: 730) %>
          <% else %>
          <%= image_tag("img_1.jpg", alt: "Image", class: "img-fluid")%>
          <% end %>

        </div>

        <div class="listing-item-content">
          <% if user_signed_in? %>
            <% if liked?(event) %>
              <%= link_to like_path(id: event, like_id: liked?(event)), class: "bookmark", method: :delete do %>
              <span class="icon-heart" style ="color:red;"></span>
              <% end %>
            <% else %>
              <%= link_to likes_path(id: event.id), class: "bookmark", method: :post do %>
              <span class="icon-heart"></span>
              <% end %>
            <% end %>
          <% end %>

        <%=link_to event.category.name, root_path, class: "px-3 mb-3 category" %></a>
        <h2 class="mb-1"><%= event.title %></h2>
        <span class="address"><%= event.location %></span><br>
        <%= link_to "See more", event, class: "btn-primary btn-sm round" %>
      </div>
    </div>
  </div>
<% end %>
