<% @events.limit(6).each do |event| %>
   <div class="col-md-4 mb-3 mb-lg-4 col-lg-4">
      <div class="listing-item">
              
        <div class="listing-image">
           <%= image_tag("img_1.jpg", alt: "Image", class: "img-fluid")%>
        </div>
              
        <div class="listing-item-content">
           <a href="#" class="bookmark" data-toggle="tooltip" data-placement="left" title="Bookmark"><span class="icon-heart"></span></a>
            
           <%=link_to event.category.name, root_path, class: "px-3 mb-3 category" %></a>
                
           <h2 class="mb-1"><%= event.title %></h2>
                
           <span class="address"><%= event.location %></span><br>
          
           <%= link_to "See more", @event, class: "btn-primary btn-sm round" %>

       
        </div>
      </div>
   </div>
<% end %>

