<%= form_for @event do |f| %>
  <div class='row'>

    <div class="col form-group">
      <%= f.label :category_id, class: "control-label font-weight-bold" %><br />
      <div class="select-wrap">
        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name,  prompt: true),{ include_blank: "Choose a category" }, { :class => 'form-control' } %>
      </div>
    </div>

    <div class="col form-group">
      <%= f.label :title, class: "control-label font-weight-bold" %> :<br>
      <%= f.text_field :title, placeholder: "Ex: Come watch me perform at comedy bar this saturday !", class: "form-control" %>
    </div>

    <div class="w-100"></div>

    <div class="col form-group">
      <%= f.label :max_participants, "Max hosts", class: "control-label font-weight-bold" %><br>
      <%= f.number_field :max_participants, in: 1..10000, step: 1, placeholder: 'Maximum places available', class: 'form-control' %>
    </div>

    <div class="col form-group">
      <%= f.label :start_date, 'Date (default: today)', class: "control-label font-weight-bold" %><br>
      <%= f.date_field :start_date, min: Date.today, value: Date.today, class: 'form-control' %>
    </div>

    <div class="w-100"></div>

    <!-- tag_fields for retrieving time input, because no "time" attribute for a form_for to infer. "Time" attribute will be parsed with "date" in events controller -->
    <div class="col form-group">
      <%= label_tag 'time', 'Starting time', class: "control-label font-weight-bold" %>
      <%= time_field_tag 'time', "", class: 'form-control' %>
    </div>


    <div class="col form-group">
      <%= f.label :duration, "Event duration time (minutes)", class: "control-label font-weight-bold" %><br>
      <%= f.number_field :duration, in: 5..1000, step: 5, placeholder: "Duration time", class: 'form-control' %>
    </div>

    <div class="w-100"></div>
    <div class="col form-group">
      <%= f.label :location, "Event Location", class: "control-label font-weight-bold" %><br>
      <%= f.text_field :location, placeholder: "Street, city", class: "form-control" %>
    </div>

    <div class="col form-group">
      <%= f.label :department_id, class: "control-label font-weight-bold" %><br />
      <div class="select-wrap">
        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
        <%= f.select :department_id, options_from_collection_for_select(Department.all, :id, :name,  prompt: true), { include_blank: "Choose a department" }, { :class => 'form-control' } %>
      </div>

      <div class="col form-group">
        <%= f.label :description, class: "control-label font-weight-bold" %> :<br>
      <%= f.text_area :description, placeholder: "In few words:\n-Introduce your hobby and what you love about it\n-Describe your event proposition (live demo, workshop...)\n-Place (your place, café, park, showplace..)\n-Notes for your hosts (invit them to bring they own instrument...", rows: "5", class: "form-control" %>
      </div>

      <div class="col form-group">
        <%= f.label :picture, "A picture is worth a thousand words", class: "h4" %><br>
        <%= f.file_field :picture %>
      </div><br />

    </div><br />
  </div>

  <%= f.submit "Share My Hobby !", class: "btn btn-primary rounded py-2 px-4 text-black" %>

<% end %>
