<%= @user.first_name %> <%= @user.last_name %> </h2>
<p>Age : <%= @user.age %> </p>
<p>City : <%= @user.department.name %> </p>
<p> Email : <%= @user.email %> </p>
<p> Phone Number : <%= @user.phone_number %> </p>
<p>Description : <%= @user.description %> </p>
<% if @user == current_user %>
  <%= link_to "Edit your Profile", edit_user_registration_path, class: "btn btn-info" %>
  <%= link_to "Create an Event", new_event_path, class: "btn btn-info" %>
<% end %>
