<center>
	<p>
		Start Date :
		<%= @event.starting_date %>
	</p>
	<p>
		Duration :
		<%= @event.duration %> minutes
	</p>
	<p>
		Location :
		<%= @event.location %>
	</p>
	<p>
		Department :
		<%= @event.department.name %>
	</p>
	<p>
		Max.Participants :
		<%= @event.max_participants %>
	</p>
	<p>
		State :
		<% if @event.has_place_available? %>
			<%= @event.number_of_places_available %> place(s) available
		<% else %>
			No more place available
		<% end %>
	</p>
</center>
