<%= @user.first_name %> <%= @user.last_name %> </h2>
<p>Age : <%= @user.age %> </p>
<p>City : <%= @user.department.name %> </p>
<p> Email : <%= @user.email %> </p>
<p>Description : <%= @user.description %> </p>
<a href="/users/edit" class="btn btn-info" role="button">Edit your Profil</a>
<a href="/events/new" class="btn btn-info" role="button">Create an Event</a>