<center>
	<p>
		<b>Start Date :</b>
		<%= @event.starting_date %>
	</p>
	<p>
		<b>Duration :</b>
		<%= @event.duration %> minutes
	</p>
	<p>
		<b>Location :</b>
		<%= @event.location %>
	</p>
	<p>
		<b>Department :</b>
		<%= @event.department.name %>
	</p>
	<p>
		<b>Max.Participants :</b>
		<%= @event.max_participants %>
	</p>
	<p>
		<b>State :</b>
		<% if @event.has_place_available? %>
			<%= @event.number_of_places_available %> place(s) available
		<% else %>
			No more place available
		<% end %>
	</p>
</center>
